<div class="chat-detail-wrapper">
  <div class="message-history-wrapper">
    <ul *ngIf="messages$; else noMessagesInfo">
      <li *ngFor="let message of messages$ | async">
        <p *ngIf="message.text" class="message" [ngClass]="{ 'own-message': isOwnMessage(message.authorUid) }">{{ message.text }}</p>
      </li>
    </ul>
    <ng-template #noMessagesInfo>
      <p>No messages here yet ...</p>
    </ng-template>
  </div>
  <div class="input-wrapper">
    <form [formGroup]="messageForm">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip uk-text-primary" uk-icon="icon: comment"></span>
        <input (keyup.enter)="sendMessage()" class="uk-input" type="text" placeholder="message" formControlName="message">
      </div>
    </form>
  </div>
</div>
